<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="4.4.9" targetFramework="net461" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="5.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
</packages>